html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.container {
    display: flex;
   align-items: center;
   justify-content: center;
    text-align: center;
   min-height: 80vh;
   background-image: url(../images/money2.jfif);
   background-size: cover;
   background-position: center;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: bisque;
    background-size: cover;

}

.form__labelText {
    font-weight: bold;
    font-size: large;
    width: 150px;
    display: inline-block;
    margin-right: 5px;
}

.form__header {
    text-transform: uppercase;
    color: bisque;
    background-color: rgb(82, 66, 73);
}

.form__button {
    width: 60%;
    background-color: rgb(65, 52, 58);
    color: white;
    font-size: large;
    padding: 20px;
    margin-top: 40px;
    align-items: center;
}

.form__labelText {
    display: inline-block;
    width: 150px;
    margin-right: 10px;
    color: black;
    background-color: bisque;
}

.form-field {
    border: 2px solid;
    width: 250px;
    padding: 10px;
}

.form__field {
    border: 2px solid;
    width: 250px;
    padding: 10px;
}

.js-result {
    color: black;
    background-color: bisque;
}